<% if @reservations.size == 0 %>
  <div class="container">
    <h2 class="text-muted mt-5">Reservations</h2>
    <div class="text-center mt-5">
      No reservations found!
    </div>
  </div>
<% else %>
  <div class="container">
    <h2 class="text-muted mt-5">Reservations</h2>
    <div class="table-responsive mt-4">
      <table class="table table-striped table-hover">
        <thead>
        <th>Book Name</th>
        <th>Journal Name</th>
        <th>status</th>
        <th>Reservation Date</th>
        </thead>
        <tbody>
        <% @reservations&.each do |reservation| %>
          <tr>
            <td><%= reservation&.book&.title %></td>
            <td><%= reservation&.journal&.title %></td>
            <td><%= reservation.status %></td>
            <td><%= reservation.reservation_date %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>